* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .navbar-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
  }
  .navbar-container img {
    width: 100px;
    height: 40px;
    margin-right: 30px;
    padding-bottom: 10px;
  }
  .button-group {
    margin-right: 100px;
  }
  .grow-list {
    margin-right: auto;
  }
  .list-item {
    font-size: 1.2rem;
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    color: #c6c6c6;
  }
  .list-item:nth-child(1) {
    color: #000;
  }
  .nav-button {
    background-color: #5955b3;
    color: #fff;
    font-size: 1rem;
    font-family: "Poppins", Helvetica;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
  }
  /* banner */
  .banner-container {
    display: flex;
    flex-direction: row;
  }
  .heading-text {
    margin-top: 80px;
    color: #3c2f60;
    font-size: 5rem;
  }
  span {
    color: #5955b3;
  }
  .description {
    font-size: 1.6rem;
    color: #d0d0d0;
    margin-top: 50px;
  }
  .nav-button.btn {
    margin-top: 50px;
    padding: 20px 30px;
  }